{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/no-autofocus": [
      2,
      {
        "ignoreNonDOM": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "react/prop-types": 0,
    // Disabilitata se usi TypeScript
    "react/require-default-props": 0,
    // Disabilitata se usi TypeScript
    "react/no-array-index-key": 1,
    "react/react-in-jsx-scope": 0,
    // Non necessario con nuove versioni di React
    "react/jsx-props-no-spreading": 0,
    "react/jsx-no-useless-fragment": 0,
    "react/function-component-definition": 0,
    // Disabilitata per maggiore flessibilità
    "import/order": 0,
    // Può essere abilitata se vuoi un ordine specifico
    "no-console": 1,
    "no-shadow": 2,
    "@typescript-eslint/naming-convention": [
      2,
      {
        "selector": "variableLike",
        "format": [
          "camelCase",
          "PascalCase",
          "snake_case"
        ]
      },
      {
        "selector": "typeLike",
        "format": [
          "PascalCase"
        ]
      },
      {
        "selector": "function",
        "format": [
          "PascalCase"
        ]
      }
    ],
    "import/no-cycle": 0,
    // Disabilitata ma può essere utile in grandi codebase
    "prefer-destructuring": [
      2,
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": true
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "import/no-unresolved": [
      2,
      {
        "caseSensitive": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "none"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}